#s-a9fa79d5-209b-4e37-986b-8bea0f73d2b1 #s-TRAVELSHARE_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a9fa79d5-209b-4e37-986b-8bea0f73d2b1 #s-Parker_Avenue__1 {
  -ms-transform: rotate(0.0deg);
}
#s-a9fa79d5-209b-4e37-986b-8bea0f73d2b1 #s-facebook-icon {
  -ms-transform: rotate(0.0deg);
}
#s-a9fa79d5-209b-4e37-986b-8bea0f73d2b1 #s-twitter-icon {
  -ms-transform: rotate(0.0deg);
}
#s-a9fa79d5-209b-4e37-986b-8bea0f73d2b1 #s-instagram-icon {
  -ms-transform: rotate(0.0deg);
}
#s-a9fa79d5-209b-4e37-986b-8bea0f73d2b1 #s-Panel_3 > .valign {
  vertical-align: top;
}
#s-a9fa79d5-209b-4e37-986b-8bea0f73d2b1 #s-Title {
  -ms-transform: rotate(0.0deg);
}
#s-a9fa79d5-209b-4e37-986b-8bea0f73d2b1 #s-Paragraph_top {
  -ms-transform: rotate(0.0deg);
}
#s-a9fa79d5-209b-4e37-986b-8bea0f73d2b1 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a9fa79d5-209b-4e37-986b-8bea0f73d2b1 #s-Paragraph_bottom {
  -ms-transform: rotate(0.0deg);
}
#s-a9fa79d5-209b-4e37-986b-8bea0f73d2b1 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-a9fa79d5-209b-4e37-986b-8bea0f73d2b1 #s-TRAVELSHARE_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a9fa79d5-209b-4e37-986b-8bea0f73d2b1 #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-a9fa79d5-209b-4e37-986b-8bea0f73d2b1 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a9fa79d5-209b-4e37-986b-8bea0f73d2b1 #s-Shareyour_ultimate {
  -ms-transform: rotate(0.0deg);
}
#s-a9fa79d5-209b-4e37-986b-8bea0f73d2b1 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-a9fa79d5-209b-4e37-986b-8bea0f73d2b1 #s-Login {
  -ms-transform: rotate(0.0deg);
}
#s-a9fa79d5-209b-4e37-986b-8bea0f73d2b1 #s-Signup {
  -ms-transform: rotate(0.0deg);
}
#s-a9fa79d5-209b-4e37-986b-8bea0f73d2b1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}