#s-b0ba0ba4-de9f-4b4c-931e-702206c3d715 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b0ba0ba4-de9f-4b4c-931e-702206c3d715 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b0ba0ba4-de9f-4b4c-931e-702206c3d715 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b0ba0ba4-de9f-4b4c-931e-702206c3d715 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b0ba0ba4-de9f-4b4c-931e-702206c3d715 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b0ba0ba4-de9f-4b4c-931e-702206c3d715 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b0ba0ba4-de9f-4b4c-931e-702206c3d715 #s-Line_1 {
  rotation: 90.0;
  margin-left: 13px;
  margin-top: -14px;
}
#s-b0ba0ba4-de9f-4b4c-931e-702206c3d715 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b0ba0ba4-de9f-4b4c-931e-702206c3d715 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b0ba0ba4-de9f-4b4c-931e-702206c3d715 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b0ba0ba4-de9f-4b4c-931e-702206c3d715 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b0ba0ba4-de9f-4b4c-931e-702206c3d715 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b0ba0ba4-de9f-4b4c-931e-702206c3d715 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b0ba0ba4-de9f-4b4c-931e-702206c3d715 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b0ba0ba4-de9f-4b4c-931e-702206c3d715 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b0ba0ba4-de9f-4b4c-931e-702206c3d715 #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b0ba0ba4-de9f-4b4c-931e-702206c3d715 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b0ba0ba4-de9f-4b4c-931e-702206c3d715 #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b0ba0ba4-de9f-4b4c-931e-702206c3d715 #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b0ba0ba4-de9f-4b4c-931e-702206c3d715 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b0ba0ba4-de9f-4b4c-931e-702206c3d715 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b0ba0ba4-de9f-4b4c-931e-702206c3d715 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b0ba0ba4-de9f-4b4c-931e-702206c3d715 #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b0ba0ba4-de9f-4b4c-931e-702206c3d715 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b0ba0ba4-de9f-4b4c-931e-702206c3d715 #s-Image_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b0ba0ba4-de9f-4b4c-931e-702206c3d715 #s-Image_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b0ba0ba4-de9f-4b4c-931e-702206c3d715 #s-Image_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b0ba0ba4-de9f-4b4c-931e-702206c3d715 #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b0ba0ba4-de9f-4b4c-931e-702206c3d715 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}